<header>
    {{cabecera}}
</header>
<form>
    <div>
        <label>Introduce el primer número: <input type="number" placeholder="Numero 1" [(ngModel)]="num1" name="num1" required/></label>
        <label>Introduce el segundo número: <input type="number" placeholder="Numero 2" [(ngModel)]="num2" name="num2" required/></label>
        <button type="submit" (click)="suma()">Sumar</button>
        <button type="submit" (click)="resta()">Restar</button>
        <button type="submit" (click)="multiplicacion()">Multiplicar</button>
        <button type="submit" (click)="division()">Dividir</button>
        <button type="submit" (click)="resto()">Resto de la división</button>
        <p>El resultado es: <span>{{resultado}}</span></p>
    </div>
</form>